.home{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.home-nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 20%;
    width: 100%;
}

.home-nav-bar-option{
    background-color: rgb(230, 37,37);
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    border: 1px solid;
    cursor: pointer;
    transition: color ease 0.5s, 
    border-color ease 0.5s, background-color ease 0.5s;
}

.home-nav-bar-option:hover{
    border-color: rgb(230, 37,37);
    color: rgb(230, 37,37);
    background-color:#ffff ;
}

.home-body{
    height: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.home-body-route{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 250px;
}

.sub-routes{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 15px;
    align-items: center;
    width: 100%;
    height: 80%;
}

.sub-route{
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    cursor: pointer;
    background-color: rgb(230, 37,37);
    border-radius: 5px;
     transition: color ease 0.5s, 
    border-color ease 0.5s, background-color ease 0.5s;
}

.sub-route:hover{
    background-color: yellow;
    color: rgb(17,17,17);
}