.items-categories-list{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.items-category{
    border-radius: 15px;
    background-color: #ffff;
    color: rgb(230,37,37);
    width: 80px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    transition: color ease-in-out 0.2s,
    background-color ease-in-out 0.2s;
    cursor: pointer;
}

.items-category:hover{
    background-color: rgb(230,37,37);
    color: #ffff;
}

.selected-category{
    color: rgb(17,17,17);
    background-color: yellow;
    border-radius: 15px;
    width: 80px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    transition: color ease-in-out 0.2s,
    background-color ease-in-out 0.2s;
    cursor: pointer;
}

.items-list{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.items-list-item{
    border: 1px solid rgb(230,37,37);
    height: 60px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: large;
    padding-bottom: 5px;
}

.item-detail{
    width: 100px;
    height: 20px;
    text-align: center;
}

.add-new-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid yellow;
}

.add-item-inputs{
    height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    font-size: 20px;
    gap: 15px;
    padding-bottom: 10px;
}

#barCode{
    width: 250px;
}

.add-item-details{
    height: 40px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    font-size: 20px;
}

#id{
    color: deepskyblue;
}