.pos{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.pos-nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 10%;
    width: 100%;
}

.pos-nav-bar-option{
    background-color: rgb(230, 37,37);
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    border: 1px solid;
    cursor: pointer;
    transition: color ease 0.5s, 
    border-color ease 0.5s, background-color ease 0.5s;
}

.pos-nav-bar-option:hover{
    border-color: rgb(230, 37,37);
    color: rgb(230, 37,37);
    background-color:#ffff ;
}

.pos-body{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.pos-invoice{
    border: 1px solid;
    width: 65%;
    height: 500px;
    margin-top: 30px;
}

.barScanner{
    position: absolute;
    width: 51.4%;
}

.barCode-input{
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    height: 30px;
    text-align: center;
    font-size: x-large;
}

.pos-items{

    width: 60%;
    height: fit-content;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 100px);
    gap: 15px;
    
}

.category{
    border: 1px solid rgb(230, 37,37);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    margin-top: 15px;
    cursor: pointer;
    user-select: none;
    text-align: center;
    transition: color 0.5s ease, background-color 0.5s ease;
}

.category:hover{
    background-color: #ffff;
    color: black;
}

.pos-invoice-items{
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    overflow-y: scroll;
}

/* width of scrollbar */
.pos-invoice-items::-webkit-scrollbar {
  width: 8px;
}

/* transparent background */
.pos-invoice-items::-webkit-scrollbar-track {
  background: transparent;
}

/* scrollbar thumb */
.pos-invoice-items::-webkit-scrollbar-thumb {
  background-color: #888;        /* color of scrollbar */
  border-radius: 4px;
  border: 2px solid transparent; /* makes thumb thinner */
}

/* on hover */
.pos-invoice-items::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}


.invoice-item{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid red;
}

.invoice-item-detail{
    width: 50px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pos-invoice-total{
    border-top: 1px solid red;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    position: relative;
}

#icon{
    height: 25px;
    width: 25px;
    cursor: pointer;
}

#item-name{
    font-weight: bold;
    font-size: large;
}

#price{
    color: rgb(45, 172, 45);
}

#count{
    color: rgb(219, 208, 46);
    font-size: larger;
}

.items-count{
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: medium;
    height: 100%;
    margin-right: 2px;
}

.pos-count{
    color: #ffff;
    text-align: center;
    width: 100px;
}

.pos-options{
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.pos-option{
    background-color: yellow;
    border-radius: 10px;
    color: black;
    height: 30px;
    width: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    cursor: pointer;
     transition: color 0.3s ease, background-color 0.3s ease;
}

.pos-option:hover{
    color: rgb(230, 37,37);
    background-color: #ffff;
}
