.verify{
    background-color: rgba(256,256,256,0.7);
    width: 100%;
    height: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 2px 12px rgba(0,0,0,0.08);
    
}

.verify-container{
    background-color: #fff;
    width:40%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.verify-title{
    color: black;
}

.verify-btns{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 70%;
}

.verify-btn{
    cursor: pointer;
    border: 1px solid black;
    border-radius: 8px;
    transition: all ease 0.3s;
}

.verify-btn:hover{
    background-color: black;
    color: #fff;
    border-color: yellow
}